.formElement__email, .formElement__singleLineInput, .formElement__password{
    background-color: rgb(246, 255, 255);
    width: 70%; /* Can be in percentage also. */
    height: 30px;
    margin-left: 140px;
    margin-top: 7px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px rgb(0, 223, 223);
    font-size: large;
    font-family: 'M PLUS 1 Code', sans-serif;
}

.formElement__email:focus, .formElement__singleLineInput:focus .formElement__password:focus{
    outline: none;
}


.formElement__textArea{
    background-color: rgb(246, 255, 255);
    width: 70%; /* Can be in percentage also. */
    height: 30px;
    margin-left: 140px;
    margin-top: 7px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px rgb(0, 223, 223);
    font-size: large;
    font-family: 'M PLUS 1 Code', sans-serif;
}

.formElement__submitButton{
    width:40%;
    height:70%;
    margin-top: 20px;
    margin-left: 330px;
    border: solid 2px rgb(0, 183, 207);
    background-color: rgb(185, 240, 240);
    font-size: large;
    font-family: 'M PLUS 1 Code', sans-serif;
    border-radius: 3px;
}