.rightSection{
    background-color: #F6F7FF;
    float: right;
    height: 720px;
    width: 72%;
    border-radius: 3px;
    margin: 10px;
    border: solid 1px;
}


.rightSectionSubdiv{
    width: auto;
    height: 69.6px;
    /* border-bottom: solid rgb(229, 249, 255); */
}


.formName{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: xx-large;
}